# venv
dms_env/
env/
venv/
ENV/

# caches / logs
__pycache__/
*.log

# training outputs & datasets
runs/
datasets/
datasets_processed/
DataSet/

# models / binaries (keep out)
*.onnx
*.onnx.data
*.pt
*.pth
*.zip
*.tar
*.tar.gz
*.mp4
*.jpg
*.png
*.csv
